#include "card34.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        row-gpios =
            <&gpio0 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, /* D10 */
            <&gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, /* D9  */
            <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, /* D8  */
            <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; /* D7  */

        col-gpios =
            <&gpio0 2  GPIO_ACTIVE_HIGH>, /* D0 */
            <&gpio0 3  GPIO_ACTIVE_HIGH>, /* D1 */
            <&gpio0 28 GPIO_ACTIVE_HIGH>, /* D2 */
            <&gpio0 29 GPIO_ACTIVE_HIGH>, /* D3 */
            <&gpio0 4  GPIO_ACTIVE_HIGH>; /* D4 */
    };
};
